@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    /*color: #fff;*/
    color: black;
}

body {
    min-height: 100vh;
    background-color: #bde5e5;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh; 
  padding: 1rem 1.5rem;
}
